* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: felt tip;
  color:#494945;

}

body {
  width: 100%;
  min-height: 100vh;
  /*background: linear-gradient(to bottom, #322d34 0%, #60ad09ed 100%), url('harry_potter_background.jpg') center/cover no-repeat;*/
}

section{
  width: 100%;
  height: 100vh;
  position: relative;
}

section div.background-section {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

section div.background-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:center;
}
/*harry potter*/
.conteudo img{
  width: 40%;
  min-width: 200px;
  max-width: 250px;
  left: 60%;
  top: 5%;

}

.text{
  color: white;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover .overlay {
  opacity: 1;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}
.conteudo {
  position: relative;
  z-index: 1;
  display: flex;
  padding: 10px;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.content-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 64px;
  position: relative;
  align-items: center;
  justify-content: center;
  
}

h1 {
  font-size: 2em;
}
.extern-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  backdrop-filter: blur(20px);
  margin-top: auto;
}

.container {
  position: relative;
  justify-content: center;
  max-width: 1200px;
  align-items: center;
  border-radius: 10px;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  font-size: 2.8rem;
  background: #40404012;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #161f4c;
}

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.slider-wrapper .image-list .image-item {
  width: 200px;
  height: 90%;
  object-fit: cover;
  border-radius: 15px;
  /*opacity: 1;*/
  margin: 10%;
  transition: all 0.5s ease-in-out;
  perspective: 700px;
  /*filter: blur(0px);*/
  cursor: pointer;
}
.imge-list .image-item:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
 


/*passar o mouse dar efeito*/

.slider-wrapper .image-list .image-item:hover {
  /*filter: blur(3px);*/
  opacity: 0.3;
  transform: scale(1.1);

}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #595050;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: 10px;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Styles for mobile and tablets */
  @media only screen and (max-width: 1023px){
  .slider-wrapper .slide-button {
    display: none !important;
}

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
}
.overlay,
.slider-wrapper .image-list {
  gap: 10px;
  margin-bottom: 15px;
  scroll-snap-type: x mandatory;
}
  .slider-wrapper .image-list .image-item {
   
    width: 280px;
    height:0px;
}

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
  
  }
/*botao curiosidades*/
.modal {
  position: relative;
  z-index: 1;
  left: 25%;
  top: 70%;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  pointer-events: auto;
  overflow: hidden;
}


dialog::backdrop{
  background-color: rgb(0 0  0 / .3);
}

dialog{
  background-color: rgb(109, 109, 192);
  margin: 15% auto; /* Centraliza verticalmente e horizontalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 15px;
}
